.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #222;
    color: white;
    align-items: center;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.7)
  }
  
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
}

.actions {
  display: flex;
  gap: 2rem;
  width: 30%;
  justify-content: right;
  align-items: center;
  margin-right: 1rem;
}

.cart-icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  position: relative; 
  cursor: pointer;
  margin-top: 1.2rem;
}

.cart-icon-wrapper:hover {
  transform: scale(1.1);
}

.cart-count {
  background-color: red;
  padding: 0.3rem 0.7rem 0.4rem 0.7rem;
  border-radius: 50%;
  position: absolute; 
  top: 2%;
  right: 1.6%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: default;
}

.logout {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.logout:hover {
  transform: scale(1.2);
}
  