.register-container {
  background-color: #fff; /* Fundo branco para o formulário */
  padding: 30px;
  max-width: 400px;
  margin: 50px auto;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); 
  flex-direction: column;
  align-items: left;
  position: relative; /* Para o botão de voltar ser posicionado em relação a este contêiner */

}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.form-group {
  margin-bottom: 20px;
  width: 93%;
}

label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* Efeito de foco suave */
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6); 
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98); /* Efeito de clique */
}

button:focus {
  outline: none;
}

.back-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px; 
  left: 10px; 
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
  background-color: #3498db;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

.back-button:focus {
  outline: none;
}
